body{
    overflow-x: hidden;
}

.containerLogin{
    width: 320px;
    background-color: var(--contactBackground);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 18px;
    justify-content: center;
}
.Logo{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.titelLogin{
    color: var(--primaryTextColor);
    font-size: 18px;
    font-weight: 600;
}
.title{
    color: var(--secondaryTextColor);
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 12px;
    font-weight: 700;
}
.number{
    border: none;
    border-radius: 8px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    font-size: 16px;
    color: var(--primaryTextColor);
    background-color: var(--primary);
}
.button{
    margin-left: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding:8px;
    margin-bottom: 20px;
    color: var(--primaryTextColor);
    background-color: var(--primaryChatsColor);
}
.button :hover{
    background: var(--secondaryChatColor) !important;
}